/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    
    border-color: rgb(255 255 255 / 56%) !important;
    color: rgb(255 255 255 / 56%) !important;

}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    color: rgb(255 255 255 / 56%) !important;
}
.css-1rr7mbq-MuiInputBase-input-MuiOutlinedInput-input{
    color: rgb(255 255 255 / 56%) !important;
} */